.logo img {
    display: block;
    vertical-align: middle;
}

.flex, .logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    justify-content: center;
}
